body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
	margin-top: 20px;
}

p {
	text-align: center;
	font-size: 24px;
	margin-top: 20px;
}

button {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 24px;
	padding: 10px 20px;
	border: none;
	background-color: #ffa500;
	color: #fff;
	cursor: pointer;
	opacity: 0.7;
	transition: all 0.2s ease-in-out;
}

button:disabled {
	cursor: not-allowed;
	background-color: #ccc;
}

button:hover {
	opacity: 1;
}

#stats {
	position: fixed;
	top: 0;
	right: 0;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
